<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "mks.io" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

    <div class="footer">
      <p class="powered-by">Powered by <a href="http://www.themakersquare.com" class="logo"><b>MAKER</b>SQUARE</a></p>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
